* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

a {
  text-decoration: none;
  color: inherit;
}

.child {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*nav bar*/
nav {
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 137%;
  cursor: pointer;
}

nav li {
  height: 80px;
}

nav a {
  height: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  color: black;
}
.login-btn {
  background-color: #ffa03f;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 18px;
  width: 78px;
  height: 36px;
  margin-right: 40px;
}
.login-btn a {
  color: #f0f0f0;
  font-size: 1rem;
}

nav li:first-child {
  color: #000;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 137%;
  cursor: pointer;
  margin-right: auto;
}

nav li .toor {
  color: #ffa03f;
}

.sidebar {
  position: fixed !important;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 99999;
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: #ffa03f;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}
.show {
  transform: translateX(0);
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-btn {
  display: none;
  color: #000;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 137%;
  cursor: pointer;
}

/* Styling for the logo image */
.navbar-logo img {
  height: auto;
  width: 70px;
  max-width: 100%;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1420px;
  padding: 2rem;
  font-family: Inter;
}
.cart {
  width: 100%;
  max-width: 1420px;
}
.cart-bottom {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: max(16vw, 20px);
}
.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}
.cart-total hr {
  margin: 10px 0px;
}
.cart-total button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(16vw, 200px);
  padding: 15px 0px;
  border-radius: 6px;
  cursor: pointer;
}
.cart-promocode {
  margin-top: -20px;
  flex: 1;
}
.cart-promocode p {
  color: #555;
}
.cart-promocode-input {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 6px;
}
.cart-promocode-input input {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 15px;
  width: 60%;
  padding: 15px;
}
.cart-promocode-input button {
  width: max(5vw, 150px);
  padding: 15px 8px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.cart-items {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 20px;
}
.cart-item .img {
  width: 90%;
  margin-left: 5%;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}
.cart-item {
  width: 90%;
  padding: 0.5rem 0.8rem;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item h2 {
  font-size: 18px;
  margin-left: 1rem;
  margin-bottom: 10px;
}

.cart-item p {
  font-size: 14px;
  margin-left: 1rem;
  margin-bottom: 10px;
}

.cart-item select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-item input[type="date"] {
  margin-left: 1rem;
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-item select option {
  padding: 10px;
}

.cart-item input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.cart-item input[type="date"]::-webkit-datetime-edit {
  padding: 1px 3px;
}

.cart-item input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  padding: 10px;
}

.cart-item input[type="date"]::-webkit-datetime-edit-text {
  padding: 10px;
}

.cart-item input[type="date"]::-webkit-datetime-edit-month-field {
  padding: 10px;
}

.cart-item input[type="date"]::-webkit-datetime-edit-day-field {
  padding: 10px;
}

.cart-item input[type="date"]::-webkit-datetime-edit-year-field {
  padding: 10px;
}

.place-order {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
  margin-top: 20px;
}
.place-order-left {
  width: 100%;
}
.place-order-left .title {
  font-size: 25px;
  font-weight: 700;
}
.place-order-left input {
  margin-bottom: 20px;
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  outline-color: tomato;
}
.place-order-left .multi-fields,
.place-order-left .long {
  display: flex;
  gap: 15px;
}
.place-order-right {
  width: 90%;
  padding-right: 2rem;
}
.place-order .cart-total .submit {
  margin-top: 30px;
}

#promo-code {
  height: 10px;
}

.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}
.cart-total hr {
  margin: 2px 0px;
}
.cart-total button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(14vw, 100px);
  padding: 15px 0px;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 1211px) {
  .cart-items {
    width: 300px;
  }
  .place-order-left .title {
    font-size: 20px;
    margin-top: 2rem;
  }
  .place-order-right .cart-total {
    width: 300px;
  }
  .cart-promocode {
    width: 100%;
  }
}

@media (max-width: 1030px) {
  .place-order {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
  }
  .place-order .place-order-left {
    width: 50%;
    margin-top: 5rem;
  }
  .place-order .cart {
    width: 40%;
  }
  .place-order-right {
    width: 100%;
  }
  .place-order-right .cart-total {
    width: 600px;
    margin: 0 auto;
  }
  .cart-total button {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .place-order {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem;
  }
  .place-order .place-order-left {
    width: 40%;
    margin-top: 5rem;
  }
  .place-order-right .cart-total {
    width: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .place-order {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem;
  }
  .place-order .place-order-left {
    width: 100%;
    margin-top: 0rem;
  }
  .place-order .cart {
    width: 100%;
  }
  .place-order-right {
    width: 100%;
  }
  .place-order-right .cart-total {
    width: 100%;
    margin: 0 auto;
  }
  .cart-items {
    width: 100%;
  }
  .cart-item {
    padding-bottom: 1rem;
  }
  .cart-item input[type="date"] {
    margin-left: 1rem;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .cart-item .img {
    width: 95%;
    margin-left: 10px;
  }
}
@media (max-width: 580px) {
  .cart-total button {
    font-size: 10px;
    letter-spacing: 1.5px;
    width: 45%;
  }
  .place-order-right {
    padding-right: 0;
  }
  #apply-promo {
    width: 35%;
  }
}
@media (max-width: 580px) {
  .cart-total button {
    font-size: 10px;
    letter-spacing: 1px;
    padding: 15px 5px;
    width: 45%;
  }
  #apply-promo {
    width: 35%;
  }
  .place-order {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0rem;
  }
  .place-order .place-order-right .cart-total {
    margin: 0 auto;
  }
  .cart-item input[type="date"] {
    width: 85%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .place-order p {
    font-size: 13px;
  }
  .cart-total .submit {
    width: 100%;
  }
}

@media (max-width: 390px) {
  .place-order p {
    font-size: 10px;
  }
  .place-order h2 {
    font-size: 16px;
  }
  .cart-item input[type="date"] {
    width: 85%;
    padding: 2px 1px;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .cart-total .submit {
    width: 100%;
  }
}

@media (min-width: 1470px) {
  #apply-promo {
    width: 150px;
  }
}
/* footer */
.footer {
  width: 100%;
  color: #fff;
  background-color: rgba(255, 160, 63, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 9vw;
  padding-top: 90px;
  margin-top: 100px;
}
.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 90px;
}
.footer-content-left,
.footer-content-right,
.footer-content-center {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.footer-content-left p {
  font-size: 16px;
}

.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
  list-style: none;
  margin-bottom: 30px;
  cursor: pointer;
}
.footer-content-left h2,
.footer-content-right h2,
.footer-content-center h2 {
  color: white;
}
.footer-social-icons img {
  width: 50px;
  margin-right: 25px;
}
.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0px;
  background-color: white;
  border: none;
}

@media (max-width: 850px) {
  nav li:first-child {
    font-size: 1.55rem;
    font-weight: 700;
    line-height: 50%;
    cursor: pointer;
  }
  .menu-btn {
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
  }
  .hideonMobile {
    display: none !important;
  }
  .menu-btn {
    display: block;
  }
  .sidebar {
    width: 50%;
  }
  .newNav {
    display: none;
  }
}

@media (max-width: 430px) {
  nav {
    padding: 0 2rem 0 1rem;
    height: 60px;
  }
  nav li:first-child {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 17%;
    cursor: pointer;
  }
  .menu-btn {
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
  }
  nav a {
    padding: 0 0;
  }
  .sidebar {
    padding: 0 1rem;
    width: 100%;
  }
  .newNav {
    display: none;
  }
}

@media (max-width: 405px) {
  #mobile-view {
    display: block;
    position: relative;
    margin-top: -5rem;
  }
  .main_content {
    display: none;
  }
  .nav .main-nav {
    position: absolute;
    width: 100%;
    height: 76px;
    margin-left: 0rem;
    padding: 0 2rem;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
  }
  .navbar-logo {
    margin-left: -3rem;
  }
}

/*responsive styles for footer*/
@media (max-width: 800px) {
  .footer {
    gap: 20px;
    padding: 20px 6vw;
    padding-top: 90px;
    margin-top: 50px;
  }
  .footer-content {
    gap: 60px;
  }
  .footer-content-left,
  .footer-content-right,
  .footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }

  .footer-content-left p {
    font-size: 14px;
  }

  .footer-content-left li,
  .footer-content-right li,
  .footer-content-center li {
    list-style: none;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .footer-content-left h2,
  .footer-content-right h2,
  .footer-content-center h2 {
    color: white;
    font-size: 20px;
  }
  .footer-social-icons img {
    width: 50px;
    margin-right: 25px;
  }
  .footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: white;
    border: none;
  }
}
@media (max-width: 750px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .footer-copyright {
    text-align: center;
  }
}
@media (max-width: 765px) {
  .para_content {
    display: none;
  }
}
