.place-order {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 60px;
  margin-top: 120px;
}
.place-order-left {
  width: 100%;
  max-width: max(30%, 500px);
}
.place-order-left .title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 60px;
}
.place-order-left input {
  margin-bottom: 20px;
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  outline-color: tomato;
}
.place-order-left .multi-fields,
.place-order-left .long {
  display: flex;
  gap: 14px;
}
.place-order-right {
  width: 100%;
  max-width: max(40%, 500px);
}
.place-order .cart-total button {
  margin-top: 35px;
}

.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}
.cart-total hr {
  margin: 10px 0px;
}
.cart-total button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(16vw, 200px);
  padding: 15px 0px;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .place-order {
    display: flex;
    gap: 60px;
    margin-top: 50px;
  }
  .place-order-left .title {
    font-size: 35px;
    font-weight: 600;
  }
  .place-order-right {
    margin-top: 60px;
  }
}
@media (max-width: 850px) {
  .place-order {
    display: flex;
    gap: 60px;
    margin-top: 50px;
  }
  .place-order-left .title {
    font-size: 30px;
    font-weight: 600;
  }
  .place-order-right {
    margin-top: 60px;
  }
}
@media (max-width: 450px) {
  .place-order {
    display: block;
    gap: 60px;
    margin-top: 50px;
  }
  .place-order-left .title {
    font-size: 30px;
    font-weight: 600;
  }
  .place-order-right {
    margin-top: 60px;
  }
  .place-order .cart-total button {
    margin-top: 25px;
  }
}
