*{
    margin: 0;
    padding: 0;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    padding: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 23rem;
    font-size: 2rem;
    box-sizing: border-box;
}
.cnt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
}
.cntcard{
    margin: 3rem 0 2rem;
    height: 22rem;
    width: 21rem;
    text-align: center;
    border: 0.2rem solid #555;
    border-radius: 1rem;
    padding: 0.5rem;
}
.cntcard i{
    font-size: 4rem;
    height: 5rem;
    color: #2f5d4f;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.cntcard h1{
    height: 2rem;
    margin-bottom: 1rem;
}
.cntcard h2{
    color: #555;
    height: 8rem;
}
.cntcard h3{
    color: rgb(37, 113, 235);
    height: 1rem;
    font-size: 1.25rem;
}

@media (max-width: 1375px)
{
    .cnt{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .teamcard{
        margin-bottom: 3rem;
    }
    .hero {
        padding: 2rem;
        height: auto;
    }
}