* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter;
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.package-details {
  width: 100%;
  max-width: 1420px;
  height: auto;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 600px;
  border-radius: 40px;
  background-size: cover;
  background-repeat: no-repeat;
}
.details {
  width: 50%;
  padding: 2rem 5rem;
  display: flex;
}
h2 {
  font-size: 36px;
  text-transform: uppercase;
}
p {
  font-size: 24px;
  margin-top: 2rem;
}
p span {
  font-size: 24px;
  font-weight: 600;
  color: #ffa03f;
}
.des {
  font-size: 24px;
  margin-top: 4rem;
  line-height: 167%;
}
button {
  width: 240px;
  height: 50px;
  margin-top: 60px;
  margin-bottom: 30px;
  border-radius: 15px;
  outline: none;
  border: none;
  color: aliceblue;
  cursor: pointer;
  background-color: #ffa03f;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 1445px) {
  .package-details {
    width: 100%;
    max-width: 1420px;
    height: auto;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
  }
  .img {
    width: 40%;
    height: 450px;
    border-radius: 30px;
    overflow: hidden;
  }
  .img img {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .details {
    width: 40%;
    padding: 2rem 5rem;
    display: flex;
  }
  h2 {
    font-size: 32px;
    text-transform: uppercase;
  }
  p {
    font-size: 20px;
    margin-top: 2rem;
  }
  p span {
    font-size: 20px;
    font-weight: 600;
    color: #ffa03f;
  }
  .des {
    font-size: 24px;
    margin-top: 4rem;
    line-height: 167%;
  }
  button {
    width: 240px;
    height: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
    border-radius: 15px;
    outline: none;
    border: none;
    color: aliceblue;
    background-color: #ffa03f;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

@media (max-width: 1105px) {
  .img {
    width: 360px;
    height: 400px;
    border-radius: 30px;
    overflow: hidden;
  }
  .img img {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .details {
    width: 450px;
    padding: 2rem 1rem 2rem 2rem;
    display: flex;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
  }
  p {
    font-size: 20px;
    margin-top: 2rem;
  }
  p span {
    font-size: 20px;
    font-weight: 600;
    color: #ffa03f;
  }
  .des {
    font-size: 20px;
    margin-top: 4rem;
    line-height: 167%;
  }
  button {
    width: 200px;
    height: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
    border-radius: 15px;
    outline: none;
    border: none;
    color: aliceblue;
    background-color: #ffa03f;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media (max-width: 850px) {
  .package-details {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
    border-radius: 30px;
  }

  .img {
    width: 70%;
    height: 400px;
    border-radius: 30px;
    overflow: hidden;
  }
  .img img {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .details {
    width: 70%;
    padding: 2rem 1rem 2rem 2rem;
    display: flex;
  }
}
@media (max-width: 500px) {
  .img {
    width: 70%;
    height: 250px;
    border-radius: 30px;
    overflow: hidden;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    margin-top: 2rem;
  }
  p span {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
    color: #ffa03f;
  }
  button {
    margin-top: 20px;
  }
  .des {
    font-size: 18px;
    margin-top: 2rem;
  }
}
@media (max-width: 415px) {
  .details {
    padding: 0;
  }
  .img {
    width: 80%;
    height: 200px;
    border-radius: 30px;
    overflow: hidden;
  }
  h2 {
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 2rem;
  }
  p {
    font-size: 16px;
    margin-top: 1.5rem;
  }
  p span {
    font-size: 16px;
    margin-top: 5px;
    line-height: 2px;
    font-weight: 600;
    color: #ffa03f;
  }
  .des {
    font-size: 14px;
    margin-top: 2rem;
  }
  button {
    width: 180px;
    height: 60px;
    word-spacing: 5px;
    margin-top: 20px;
    border-radius: 15px;
    outline: none;
    border: none;
    color: aliceblue;
    background-color: #ffa03f;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .details {
    width: 280px;
    padding: 2rem 1rem 2rem 2rem;
    display: flex;
  }
  .footer h1 {
    font-size: 10px;
    font-weight: 600;
  }
  .footer h2 {
    font-size: 10px;
    font-weight: 600;
  }
  .footer p {
    font-size: 7px;
  }
}

/* nav */
.navbar-logo {
  display: flex;
  align-items: center;
}

/* Styling for the logo image */
.navbar-logo img {
  height: auto;
  width: 70px;
  max-width: 100%;
}

/*nav bar*/
nav {
  position: relative;
  z-index: 1;
  margin-bottom: 0rem;
}

nav ul {
  width: 100%;
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 137%;
  cursor: pointer;
}

nav li {
  height: auto;
}

nav a {
  height: 100%;
  text-decoration: none;
  padding: 0 40px;
  display: flex;
  align-items: center;
  color: black;
}
.login-btn {
  background-color: #ffa03f;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 18px;
  width: 78px;
  height: 36px;
  margin-right: 40px;
}
.login-btn a {
  color: #f0f0f0;
  font-size: 1rem;
}

nav li:first-child {
  color: #000;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 137%;
  cursor: pointer;
  margin-right: auto;
}

nav li .toor {
  color: #ffa03f;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 99999;
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: #ffa03f;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}
.show {
  transform: translateX(0);
}

.sidebar li {
  margin-top: 24px;
  width: 100%;
}

.sidebar a {
  width: 100%;
}
/* navigation */
ul.main-nav {
  margin-left: 0;
  width: 95%;
}
.main-nav {
  width: 100%;
  margin-left: -1rem;
}

.menu-btn {
  display: none;
  color: #000;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 137%;
  cursor: pointer;
}

/*responsive*/
@media (max-width: 850px) {
  nav li:first-child {
    font-size: 1.55rem;
    font-weight: 700;
    line-height: 50%;
    cursor: pointer;
  }
  .menu-btn {
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
  }
  .hideonMobile {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .sidebar {
    width: 50%;
  }
  .newNav {
    display: none;
  }
}

@media (max-width: 430px) {
  nav {
    padding: 0 2rem 0 1rem;
    height: 60px;
  }
  nav li:first-child {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 17%;
    cursor: pointer;
  }
  .menu-btn {
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
  }
  nav a {
    padding: 0 0;
  }
  .sidebar {
    padding: 0 1rem;
    width: 100%;
  }
  .newNav {
    display: none;
  }
}

/* footer */
.footer {
  width: 100%;
  color: #fff;
  background-color: rgba(255, 160, 63, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 60px;
  margin-top: 60px;
}
.footer-content {
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 90px;
}
.footer-content-left,
.footer-content-right,
.footer-content-center {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.footer-content-left p {
  margin-top: 0px;
  font-size: 16px;
  line-height: 24px;
}
.footer h1 {
  font-size: 24px;
}
.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
  list-style: none;
  margin-bottom: 30px;
  cursor: pointer;
}
.footer-content-left h2,
.footer-content-right h2,
.footer-content-center h2 {
  color: white;
  font-size: 24px;
}
.footer-social-icons {
  display: flex;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.icon-container img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.icon-container span {
  font-size: 14px;
}
.footer hr {
  width: 100%;
  height: 2px;
  margin: 10px 0px;
  background-color: white;
  border: none;
}
.footer-copyright {
  margin-bottom: 40px;
}

/*responsive styles for footer*/
@media (max-width: 800px) {
  .footer {
    gap: 20px;
    padding-top: 90px;
    margin-top: 50px;
  }
  .footer-content {
    gap: 60px;
  }
  .footer-content-left,
  .footer-content-right,
  .footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }

  .footer-content-left p {
    font-size: 14px;
  }

  .footer-content-left li,
  .footer-content-right li,
  .footer-content-center li {
    list-style: none;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .footer-content-left h2,
  .footer-content-right h2,
  .footer-content-center h2 {
    color: white;
    font-size: 20px;
  }
  .footer-social-icons img {
    margin-right: 25px;
  }
  .footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: white;
    border: none;
  }
}
@media (max-width: 750px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .footer-copyright {
    text-align: center;
  }
}
@media (max-width: 765px) {
  .para_content {
    display: none;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
.footer-content-center ul {
  padding-inline-start: 0;
}
.footer-content-right ul {
  padding-inline-start: 0;
}
hr {
  margin-bottom: 10px;
  width: 100%;
  opacity: 0.5;
}
