* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: Inter;
  background-color: #fff;
}

/*nav bar*/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.48rem 2.5rem;
  width: 100%;
}
.nav .logo {
  display: flex;
  gap: 0;
}
.nav .logo a {
  color: #000;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 137%;
  cursor: pointer;
}
.nav .logo .toor {
  color: #ffa03f;
}

.nav .navigation {
  display: flex;
  align-items: center;
  gap: 3.8rem;
}
.nav .navigation a {
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 137%;
  cursor: pointer;
}

.nav .menu {
  color: #000;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 137%;
  cursor: pointer;
}

/*landing page */
.main_content {
  display: flex;
  width: 100%;
}
.main_content .left {
  width: 40%;
  padding: 6rem 8rem;
}
.main_content .left h1 {
  color: #000;
  font-size: 5.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 137%;
}
.main_content .left .let {
  text-decoration: underline #ffa03f;
}
.main_content .left .firstline {
  display: flex;
  gap: 1rem;
}

.main_content .right {
  display: flex;
  width: 60%;
  gap: 5rem;
  padding-left: 12.5rem;
}

.main_content .right .column1 {
  padding-top: 3.125rem;
  width: 19.063rem;
  height: 51.875rem;
}
.main_content .right .column1 .card1 {
  background-image: url("/TravelTicketFrontend/assets/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 19.063rem;
  height: 26.25rem;
  border-radius: 1.875rem;
  margin-bottom: 0.938rem;
}
.main_content .right .column1 .card2 {
  background-image: url("/TravelTicketFrontend/assets/img7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 19.063rem;
  height: 24.938rem;
  border-radius: 1.875rem;
}

.plane {
  margin-top: -3.125rem;
  background-image: url("/TravelTicketFrontend/assets/plane.jpg");
  height: 15.625rem;
  width: 31.25rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.main_content .right .card3 {
  width: 25.563rem;
  height: 38.25rem;
  border-radius: 1.875rem;
  background-image: url("/TravelTicketFrontend/assets/img4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0.5rem;
}

.para_content {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2rem;
  line-height: 2.055rem;
  color: rgba(0, 0, 0, 0.75);
}

/* location search */
.location_search {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  width: 50.063rem;
  height: 8.75rem;
  border-radius: 3.063rem;
  margin-top: 7.5rem;
  margin-left: 5rem;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(.25rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  padding: 2.5rem 3.75rem;
}

.location_search p {
  font-weight: 500;
  line-height: 2.055rem;
}

.search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.8rem;
  height: 3rem;
  width: 3rem;
  background-color: #ffa03f;
  padding-right: 1.875rem;
  border-radius: 50%;
}
.search_icon i {
  color: white;
  font-size: 1.563rem;
}

/* footer */
footer {
  background-color: #ffa03f;
  color: #fff;
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
}
.copyright {
  text-align: center;
  padding-bottom: 3rem;
}
.foot {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.foot-el {
  margin-top: 5rem;
}
.foot-el h3 {
  margin-bottom: 3rem;
}