* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  height: auto;
  max-width: 1420px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: Inter;
  scroll-behavior: smooth;
  background-color: #fff;
  overflow-x: hidden;
}
.home {
  width: 100vw;
}
/*nav bar*/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.48rem 2.5rem;
  width: 100vw;
}

.nav .logo {
  display: flex;
  gap: 0;
}

.nav .logo a {
  color: #000;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 137%;
  cursor: pointer;
}

.nav .logo .toor {
  color: #ffa03f;
}

.nav .navigation {
  display: flex;
  align-items: center;
  gap: 3.8rem;
}
.nav .navigation a {
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 137%;
  cursor: pointer;
}

.nav .menu {
  color: #000;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 137%;
  cursor: pointer;
}

/*landing page */
.main_content {
  display: flex;
  width: 100vw;
}
.main_content .left {
  width: 40vw;
  padding: 6rem 8rem;
}
.main_content .left h1 {
  color: #000;
  font-size: 5.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 8.563rem;
}
.main_content .left .let {
  text-decoration: underline #ffa03f;
}
.main_content .left .firstline {
  display: flex;
  gap: 1rem;
}

.main_content .right {
  display: flex;
  width: 60vw;
  gap: 5rem;
  padding-left: 12.5rem;
}

.main_content .right .column1 {
  padding-top: 3.125rem;
  width: 19.063rem;
  height: 51.875rem;
}
.main_content .right .column1 .card1 {
  background-image: url("/TravelTicketFrontend/assets/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 19.063rem;
  height: 26.25rem;
  border-radius: 1.875rem;
  margin-bottom: 0.938rem;
}
.main_content .right .column1 .card2 {
  background-image: url("/TravelTicketFrontend/assets/img7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 19.063rem;
  height: 24.938rem;
  border-radius: 1.875rem;
}

.plane {
  margin-top: -3.125rem;
  background-image: url("/TravelTicketFrontend/assets/plane.jpg");
  height: 15.625rem;
  width: 31.25rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.main_content .right .card3 {
  width: 25.563rem;
  height: 38.25rem;
  border-radius: 1.875rem;
  background-image: url("/TravelTicketFrontend/assets/img3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0.5rem;
}

.para_content {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2rem;
  line-height: 2.055rem;
  color: rgba(0, 0, 0, 0.75);
}

/* location search */
.location_search {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  width: 50.063rem;
  height: 8.75rem;
  border-radius: 3.063rem;
  margin-top: 7.5rem;
  margin-left: 5rem;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(0.25rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  padding: 2.5rem 3.75rem;
}

.location_search p {
  font-weight: 500;
  line-height: 2.055rem;
}

.search-box input {
  color: rgba(0, 0, 0, 0.65);
  font-size: 1rem;
  width: 10rem;
  padding: 0.5rem 0.2rem;
  margin-left: -0.5rem;
  border: none;
}

.date {
  padding: 0.5rem 0.2rem 0.2rem;
  border: none;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.65);
  margin-left: -0.5rem;
  font-weight: 500;
}

.range {
  appearance: none;
  width: 7rem;
  margin-top: 0.5rem;
  height: 0.8rem;
  border-radius: 0.5rem;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.range:hover {
  opacity: 1;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  border-radius: 50%;
  height: 20px;
  background: #ffa03f;
  cursor: pointer;
}

.range::-moz-range-thumb {
  width: 25px;
  cursor: pointer;
}

#priceDisplay {
  color: rgba(0, 0, 0, 0.65);
  font-size: 1rem;
}

.search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.8rem;
  height: 3rem;
  width: 3rem;
  background-color: #ffa03f;
  padding-right: 1.875rem;
  border-radius: 50%;
}

.search_icon i {
  color: white;
  font-size: 1.563rem;
}

/*card-header*/
.card_header {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  margin-left: 6rem;
}

.card_header img {
  margin-top: -20rem;
  margin-left: 0rem;
  width: 500px;
  height: 500px;
  transform: rotate(270deg);
  color: rgba(0, 0, 0, 0.65);
}

.card_header p {
  color: #ffa03f;
  font-size: 28px;
  font-weight: 500;
  line-height: 38.36px;
}

.card_header h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 66.12px;
}

.card_header span {
  color: #ffa03f;
  font-size: 58px;
  font-weight: 700;
  line-height: 66.12px;
}

/*card-slider*/
.wrapper {
  margin-top: 5rem;
  margin-left: 20rem;
  margin-bottom: 10rem;
  max-width: 1300px;
  width: 100vw;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  margin-left: -10rem;
  margin-right: -8rem;
  background: #ffa03f;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3));
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
}
.carousel .card {
  margin: 2rem 2rem;
  scroll-snap-align: start;
  height: 500px;
  width: 320px;
  list-style: none;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  flex-direction: column;
  border-radius: 40px;
}

.card .img img {
  width: 100%;
  height: 350px;
  border-radius: 40px 40px 0 0;
}

.card .rating {
  display: flex;
  justify-content: space-around;
  width: 121px;
  height: 36px;
  padding: 0.5rem;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 242, 242, 0.965),
    rgb(255, 245, 245)
  );
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  margin-top: -1rem;
  margin-left: 2rem;
  border-radius: 38px;
}

.card .rating img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.card .rating .userEmoji {
  margin-top: 2px;
  height: 18px;
  width: 18px;
}
.card .rating .ratings {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 15.96px;
}

.card .rating .users {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.68px;
}

.carousel .card h2 {
  margin-top: 1rem;
  padding-left: 1rem;
  font-size: 22px;
  font-weight: 500;
  line-height: 27.36px;
}

.carousel .card p {
  margin-top: 1rem;
  padding-left: 1rem;
  color: #ffa03f;
  font-size: 18px;
  font-weight: 600;
  line-height: 20.52px;
}

.carousel .card span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20.52px;
}

.carousel .card .icons {
  margin-bottom: 2rem;
  padding: 0 2rem 0 1rem;
  display: flex;
  justify-content: space-between;
}

.icons img {
  height: 20px;
  width: 20px;
  color: rgba(0, 0, 0, 0.75);
}

.carousel .card .icon {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.24px;
  color: rgba(0, 0, 0, 0.75);
}

/* trip-content-section */
.trip {
  width: 100vw;
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

.trip .column3 .card4 {
  position: relative;
  background-image: url("/TravelTicketFrontend/assets/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 700px;
  left: -60px;
  border-radius: 40px;
}

.trip .column3 .card5 {
  position: relative;
  z-index: -1;
  background-color: rgba(235, 235, 235, 0.75);
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 700px;
  top: -35px;
  left: 50px;
  border-radius: 40px;
}
.tour {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(35, 35, 35, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(0.5rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem 0rem 0rem;
  width: 220px;
  height: 80px;
  top: -45px;
  margin-left: 250px;
  border-radius: 16px;
}

.bookmark {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  height: 3rem;
  width: 5rem;
  margin-left: 1rem;
  border-radius: 50%;
}

.tour p {
  margin-top: 0.2rem;
  margin-left: 1.5rem;
  color: #fff;
  font-weight: 500;
}
.tour i {
  padding-top: 0.5rem;
  color: #ffa03f;
  font-size: 1.5rem;
  margin-top: 0.2rem;
}

.trip_content {
  margin-top: 7rem;
}

.trip_content h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 79.46px;
}

.header,
.trip_content h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38.36px;
}

.trip_content1,
.trip_content2,
.trip_content3 {
  display: block;
}

.trip_content1 i,
.trip_content2 i,
.trip_content3 i {
  color: #ffa03f;
  margin-top: 2rem;
  margin-left: -3rem;
  font-size: 2rem;
}

.trip_content1 h3,
.trip_content2 h3,
.trip_content3 h3 {
  margin-top: -2.5rem;
  margin-left: 2rem;
}

.trip_content1 p,
.trip_content2 p,
.trip_content3 p {
  margin-left: 2rem;
  padding-top: 0.5rem;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.66px;
}

/* description section */
.description {
  margin-top: 14rem;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.desc_content {
  width: 50%;
  height: 100%;
  margin-left: 8.5rem;
}

.way {
  font-size: 28px;
  font-weight: 500;
  line-height: 38.36px;
}

.desc_content h1 {
  margin-top: 0.5rem;
  font-size: 58px;
  font-weight: 700;
  line-height: 66.12px;
}

.desc_content1 p {
  margin-top: 2rem;
  font-size: 24px;
  font-weight: 500;
  line-height: 37.44px;
  color: rgba(0, 0, 0, 0.75);
}

.btn {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 273px;
  height: 86px;
  border-radius: 14px;
  background-color: rgba(255, 160, 63, 1);
}

.about-btn {
  border: none;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  line-height: 43.68px;
  background-color: rgba(255, 160, 63, 1);
}

.desc_content2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8rem;
}

.desc_content2 h1 {
  font-size: 58px;
  font-weight: 500;
  line-height: 66.12px;
  text-align: left;
}

.desc_content2 p {
  width: 2rem;
  font-size: 28px;
  font-weight: 400;
  line-height: 37.52px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.5);
}

.right_part {
  margin-right: 3rem;
}

.description .right_part .box {
  position: relative;
  background-image: url("/TravelTicketFrontend/assets/description.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 685px;
  left: -60px;
  border-radius: 40px;
}

.description .right_part .back_box {
  position: relative;
  z-index: -1;
  background-color: rgba(217, 217, 217);
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 685px;
  top: -35px;
  left: -50px;
  border-radius: 40px;
}

.experience {
  display: block;
  justify-content: space-evenly;
  position: relative;
  background: rgba(217, 217, 217, 0.5);
  backdrop-filter: blur(0.25rem);
  box-shadow: 0px 27px 67.1px -24px rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem 0rem 0rem;
  border-radius: 16px;
  height: 110px;
  width: 350px;
  margin-left: -80px;
}

.experience p {
  margin-left: 5rem;
  color: #000;
}

.emoji {
  margin-top: 0.5rem;
  height: 37px;
  width: 38px;
  padding: 5px;
}

/* review header */
.review_header {
  margin-top: 6rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 2rem 9rem;
}

.review_heading p {
  color: #ffa03f;
  font-size: 28px;
  font-weight: 500;
  line-height: 38.36px;
}

.review_heading h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 66.12px;
}

.review_plane img {
  margin-top: -2.5rem;
  width: 340px;
  height: 260px;
  margin-left: -25rem;
  transform: rotate(45deg);
}

#leftarrow,
#rightarrow {
  top: 50%;
  padding-top: 10px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  background: #ffa03f;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: transform 0.1s linear;
}

#leftarrow {
  margin-left: -20rem;
}

#rightarrow {
  margin-left: 10rem;
  background: #fff;
  color: #ffa03f;
}

.review_plane i:active {
  transform: scale(0.85);
}

/* review section */
.review_section {
  width: 100vw;
  height: 80vh;
  margin-top: -3rem;
}

.photo {
  position: relative;
  width: 480px;
  height: 710px;
  left: -60px;
  border-radius: 40px;
}

.client1 {
  background-image: url("/TravelTicketFrontend/assets/client1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.client2 {
  background-image: url("/TravelTicketFrontend/assets/client2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.client3 {
  background-image: url("/TravelTicketFrontend/assets/client3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.client4 {
  background-image: url("/TravelTicketFrontend/assets/client4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-back {
  position: relative;
  z-index: -1;
  background-color: rgba(235, 235, 235);
  background-repeat: no-repeat;
  background-size: cover;
  width: 480px;
  height: 710px;
  top: 35px;
  left: 35px;
  border-radius: 40px;
}

.comment {
  display: flex;
  position: relative;
  box-shadow: 4px 0px 163px -52px rgba(0, 0, 0, 0.25);
  z-index: 1;
  margin-top: 200px;
  background-color: #fff;
  width: 50vw;
  height: 300px;
  margin-left: -400px;
}

.orangeStrip {
  height: 100%;
  width: 20px;
  background-color: #ffa03f;
}

.comments {
  padding: 3rem 5rem;
}

.comments h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 50.92px;
}

.comments h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32.16px;
  color: #ffa03f;
}

.comments p {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32.16px;
  color: rgba(0, 0, 0, 0.75);
}

/*slider review section*/
.review_section {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.review_section .slide {
  display: flex;
}

.slide .review {
  height: 500px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

/* newsletter */
.newsletter {
  width: 100vw;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.newsletter .planeimg1 img {
  margin-top: 5rem;
  width: 500px;
  height: 350px;
  color: rgba(0, 0, 0, 0.75);
}

.newsletter .planeimg2 img {
  width: 500px;
  height: 400px;
  color: rgba(0, 0, 0, 0.75);
}

.content {
  display: block;
  justify-content: space-evenly;
}

.content h1 {
  width: 795px;
  height: 150px;
  font-size: 58px;
  font-weight: 600;
  line-height: 75.4px;
}

.content p {
  margin-top: 2rem;
  width: 800px;
  height: 84px;
  font-size: 28px;
  font-weight: 400;
  line-height: 42.28px;
  text-align: center;
}

.content .mail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 800px;
  height: 90px;
  margin-top: 5rem;
  background-color: rgba(255, 182, 73, 0.5);
  border-radius: 20px;
  padding: 10px;
}

.content .mailbox {
  border: none;
  width: 70%;
  height: 100%;
  background-color: rgba(255, 182, 73, 0.5);
  border-radius: 20px;
}

.content input:focus {
  outline: none;
}

.content .mailbox::placeholder,
.content input {
  padding-left: 2rem;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.content .submit-btn {
  width: 20%;
  background: rgba(255, 160, 63, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 42.28px;
  text-align: center;

  border: none;
  height: 80%;
  border-radius: 20px;
  color: #fff;
}

/* footer */
footer {
  border-radius: 60px 60px 0px 0px;
  width: 100vw;
  background-color: #ffa03f;
  color: #fff;
  justify-content: space-evenly;
  align-items: center;
}
.copyright {
  text-align: center;
  padding-bottom: 3rem;
}
.foot {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.foot-el {
  margin-top: 5rem;
}
.foot-el h3 {
  margin-bottom: 3rem;
  font-weight: 700;
  line-height: 46.58px;
  font-size: 34px;
}

.travel {
  padding-left: 8rem;
}

.follow-on {
  font-size: 2rem;
}

.foot-el p {
  font-size: 18px;
  width: 500px;
  line-height: 27px;
}
